beautifulsoup4==4.12.2
blinker==1.9.0
certifi==2025.4.26
chardet==5.2.0
charset-normalizer==3.4.2
click==8.1.8
decorator==4.4.2
Flask==3.0.2
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.5.1
MarkupSafe==3.0.2
moviepy==1.0.3
numpy==2.2.6
opencc-python-reimplemented==0.1.7
pillow==10.2.0
proglog==0.1.12
pygame==2.5.2
pypinyin==0.49.0
reportlab==4.0.4
requests==2.32.3
soupsieve==2.7
tqdm==4.67.1
urllib3==2.4.0
Werkzeug==3.1.3
